<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div ng-app="app" ng-controller="templateController">
        <div class="container">
            <h1> Stuff </h1>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Sort By:</label>
                        <select ng-model="orderStuffBy" class="form-control">
                            <option value="name">Name</option>
                            <option value="url">URL (why?)</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" ng-repeat="s in stuff | orderBy:orderStuffBy" style="border-top:1px solid #aaa">
                <div class="col-xs-4">{{s.name}}</div>
                <div class="col-xs-4"><a href="{{s.url}}">{{s.url}}</a></div>
                <div class="col-xs-4"><img ng-src="{{s.avatar_url}}" style="width:100%; max-width:200px;" /></div>
            </div>
        </div>
    </div>


    <script src="scripts/libraries/angularjs/angular.min.js"></script>
    <script src="scripts/controllers/templateController.js"></script>
    <script src="scripts/services/templateService.js"></script>
    <script src="scripts/objects/stylesObject.js"></script>
</body>

</html>